
body {
    background-color: #efefef;
    text-align:left;
}
table, td, tr {
    border: none;
    border-collapse: collapse;
}

ul, ol {
    list-style: none;
}

img, fieldset {
    border: medium none;
}

img {
    vertical-align: left;
}

a {
    cursor: pointer;
}

    a:link, a:visited {
        color: #333;
        text-decoration: none;
    }

    a:hover, a:active {
        color: #1d2855;
        text-decoration: underline;
    }

.clear, .clearing {
    clear: both;
    width: 1px;
    overflow: hidden;
    height: 0;
}

.hidden {
    display: none;
}

a {
    blr: expression(this.onFocus=this.blur());
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/*pb*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.icons {
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
}

.fn {
    font-size: 0px;
    line-height: 0px;
    text-indent: -9999px;
}

.arrow {
    position: absolute;
    top: -10px;
    right: 20px;
    width: 20px;
    height: 20px;
    font-size: 20px;
}

    .arrow span {
        font-family: SimSun,"����";
        overflow: hidden;
        display: block;
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

        .arrow span.arrow-o {
            color: #ededed;
        }

        .arrow span.arrow-i {
            color: #fff;
            position: absolute;
            top: 1px;
            left: 0px;
        }

.transition {
    -webkit-transition: all 500ms cubic-bezier(0.34, 1.21, 0.4, 1);
    -moz-transition: all 500ms cubic-bezier(0.34, 1.21, 0.4, 1);
    transition: all 500ms cubic-bezier(0.34, 1.21, 0.4, 1);
    -webkit-transform-origin: 90% 0;
    -moz-transform-origin: 90% 0;
    -ms-transform-origin: 90% 0;
    -o-transform-origin: 90% 0;
    transform-origin: 90% 0;
    -webkit-transform: translateY(0) scale(0);
    -moz-transform: translateY(0) scale(0);
    -ms-transform: translateY(0) scale(0);
    -o-transform: translateY(0) scale(0);
    transform: translateY(0) scale(0);
    opacity: 0;
    pointer-events: none;
    display: none\9;
}

.box-active {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0) scale(1);
    -moz-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    -o-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    display: block\9;
}
/*ad-area*/
.ad-area {
    width: 1200px;
    margin: 0 auto 0;
    overflow: hidden;
}

.ad-wd620 div {
    margin-top: 20px;
}
    .adright {
     width:320px;
     height:auto;
     padding-left: auto;
     padding-right: auto;
     background-color:#fff;
     text-align:center;
    }
/*wrap*/
#wrap {
    overflow: hidden;
}
/*layout*/
.layout {
    width: 1200px;
    margin: 0 auto;
    text-align:left;
}

    .layout .main {
        width: 860px;
        float: left;
        padding-bottom: 30px;
    }

#list_main {
    position: relative;
}

.loading {
    min-height: 500px;
    background: url("../images/loading.gif") no-repeat center center;
}

.layout .side {
    width: 320px;
    float: right;
    position: relative;
    z-index: 901;

}

.mt20 {
    margin-top: 20px;
}
/*dp-crumb*/
.dp-crumb {
    padding-bottom: 20px;
    position: relative;
}

    .dp-crumb span, .dp-crumb a, .dp-crumb font {
        font-size: 16px;
        margin-right: 5px;
    }

.nav-fixed {
    position: fixed;
    top: 0px;
    z-index: 99;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
/*card*/
.card {
    width: 273px;
    background-color: #fff;
    float: left;
    display: none;
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cecece;
}

    .card .img-area {
        width: 252px;
        overflow: hidden;
        margin: 10px;
        position: relative;
    }

        .card .img-area img {
            width: 252px;
            height: 158px;
            overflow: hidden;
            position: relative;
        }

    .card .txt-area {
        padding: 10px 20px 0 20px;
        height: auto;
        overflow: hidden;
    }

    .card .news-info {
        overflow: hidden;
        color: #888;
        font-size: 12px;
    }

        .card .news-info a {
            color: #0065a0;
        }

    .card .source {
        margin-left: 10px;
    }

    .card .news-title {
        padding: 6px 0 4px 0;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
    }

    .card .news-abst {
        line-height: 22px;
    }

    .card .btn-area {
        height: 32px;
        padding: 0 20px;
        margin-top: 9px;
        border-top: 1px solid #ededed;
    }
        /*.card .btn-area span{display: inline-block;margin-right: 10px;width: 20px;height: 20px;overflow: hidden;font-size: 0;line-height: 0;vertical-align: middle;background-image: url(../images/icons.png);background-repeat: no-repeat;}*/
        .card .btn-area .video {
            background-position: 0 0;
        }

        .card .btn-area .image {
            background-position: 0 -20px;
        }

        .card .btn-area .location {
            background-position: 0 -40px;
        }

.share-area {
    position: relative;
}

.share-btn {
    display: block;
    width: 20px;
    height: 32px;
    background-position: -66px -109px;
    vertical-align: middle;
}

.share-btn-act {
    background-position: -16px -109px;
}

.share-box {
    position: absolute;
    bottom: 44px;
    right: -10px;
    z-index: 98;
    background-color: #fff;
    border: 1px solid #ededed;
    width: 180px;
}

    .share-box .arrow {
        bottom: -11px;
        top: auto;
        right: 5px;
    }

        .share-box .arrow span.arrow-i {
            top: -1px;
        }

.share-item {
    padding: 0 10px 10px 10px;
    overflow: hidden;
}

    .share-item a {
        float: left;
        width: 32px;
        height: 32px;
        margin: 10px 0 0 10px;
    }

    .share-item .s-sina {
        background-position: -9px -9px;
        margin-left: 0;
    }

    .share-item .s-teiba {
        background-position: -59px -9px;
    }

    .share-item .s-qqhy {
        background-position: -109px -9px;
    }

    .share-item .s-wechat {
        background-position: -159px -9px;
    }

    .share-item .s-sina:hover {
        background-position: -9px -59px;
    }

    .share-item .s-teiba:hover {
        background-position: -59px -59px;
    }

    .share-item .s-qqhy:hover {
        background-position: -109px -59px;
    }

    .share-item .s-wechat:hover {
        background-position: -159px -59px;
    }

    .share-item .box-active {
        height: auto;
        padding-bottom: 10px;
        border-bottom: 1px solid #ededed;
    }

        .share-item .box-active img {
            margin: 15px auto 5px;
        }

.wechat-box {
    height: 0;
}

    .wechat-box p {
        font-size: 13px;
        text-align: center;
        color: #888;
        line-height: 22px;
    }
/*content-mod*/
.content-mod1 {
    overflow: hidden;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:10px;
    background-color:#fff;
    text-align:center;
}
.content-mod {
    overflow: hidden;
    margin-bottom:15px;
    background-color:#fff;
}

    .content-mod .hd {
        height: 50px;
        background-color: #154F95;
    }

        .content-mod .hd span {
            float: left;
            padding-left: 20px;
            font-size: 20px;
            line-height: 50px;
            color: #fff;
        }

        .content-mod .hd a {
            color: #fff;
            text-decoration: none;
        }


    .news-list li {
        height: 60px;
        overflow: hidden;
        padding: 21px 20px;
        border-top: 1px solid #d6d5d5;
        vertical-align: bottom;
    }

        .news-list li:hover {
            background-color: #fff;
        }

        .news-list li:first-child {
            border-top: none;
        }

        .news-list li a {
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            color: #0060b6;
            text-decoration: none;
        }

    .news-list .txt-area {
        float: left;
        width: 100%;
    }

    .news-list .news-title {
        line-height: 20px;
        height: 40px;
        overflow: hidden;
    }

    .news-list .news-date {
        font-size: 12px;
        color: #666;
        margin-top: 5px;
    }

    .news-list .img-area {
        float: right;
    }

        .news-list .img-area img {
            width: 60px;
            height: 60px;
        }

.news-list-txt {
    background-color: #fff;
}

    .news-list-txt li {
        height: 49px;
        line-height: 49px;
        padding: 0 20px;
        border-bottom: 1px solid #ededed;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .news-list-txt a {
        color: #0060b6;
        text-decoration: none;
    }

.txt-news-list li {
    height: 50px;
    padding: 0 20px;
    border-top: 1px solid #d1d1d1;
    line-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    .txt-news-list li:hover {
        background-color: #fff;
    }
.news-list-images {
    width: 100%;
    overflow: hidden;
}
 .news-list-images li {
        padding: 21px 10px;     
        height: auto;
        width:150px
        overflow: hidden;
        border-top: 1px solid #d1d1d1;
        text-align: center;
        float: left;
    }
 .news-list-images li img {
   width:140px;
   height:100px
   }
.news-list-images li p{
   width:140px;
   height:30px;
   line-height:30px;
   overflow: hidden;
.news-list {
    width: 100%;
    overflow: hidden;
}
/*demanda*/
.demanda {
    margin-left: -10px;
    float: left;
}

    .demanda a {
        float: left;
        width: 93px;
        height: 33px;
        text-align: center;
        color: #666;
        margin: 10px 0 0 10px;
        padding-top: 60px;
        text-decoration: none;
    }

    .demanda .d-1:hover {
        background-position: -2px -218px;
    }

    .demanda .d-2:hover {
        background-position: -102px -218px;
    }

    .demanda .d-3:hover {
        background-position: -202px -218px;
    }

    .demanda .d-4:hover {
        background-position: -280px -218px;
        width: 145px;
    }

    .demanda .d-5:hover {
        background-position: -380px -218px;
        width: 145px;
    }

    .demanda .d-6:hover {
        background-position: -502px -218px;
    }

    .demanda .d-7:hover {
        background-position: -602px -218px;
    }

    .demanda .d-8:hover {
        background-position: -702px -218px;
    }

    .demanda .d-1 {
        background-position: -2px -318px;
    }

    .demanda .d-2 {
        background-position: -102px -318px;
    }

    .demanda .d-3 {
        background-position: -202px -318px;
    }

    .demanda .d-4 {
        background-position: -280px -318px;
        width: 145px;
    }

    .demanda .d-5 {
        background-position: -380px -318px;
        width: 145px;
    }

    .demanda .d-6 {
        background-position: -502px -318px;
    }

    .demanda .d-7 {
        background-position: -602px -318px;
    }

    .demanda .d-8 {
        background-position: -702px -318px;
    }

    .demanda a:hover {
        background-color: #0059b4;
        color: #fff;
    }
/*div_currpage*/
#div_currpage {
    margin-bottom: 20px;
}

    #div_currpage a, #div_currpage span {
        font-size: 14px;
        line-height: 26px;
        display: inline-block;
        padding: 2px 10px;
        margin: 10px 2px;
        color: #666;
        text-decoration: none;
        border-bottom: 2px solid #acacac;
    }

        #div_currpage span.order, #div_currpage a.next {
            font-weight: bold;
            background-color: #1d2855;
            color: #fff;
            border-bottom: 2px solid #000725;
        }

        #div_currpage a.order, #div_currpage a.tenpage {
            background-color: #dcdcdc;
            color: #666;
            border-bottom: 2px solid #acacac;
        }

        #div_currpage span.next {
            background-color: #dcdcdc;
            color: #666;
            border-bottom: 2px solid #acacac;
        }




  
 

.dede_pages{
}
.dede_pages ul{
	float:left;
	padding:12px 0px 12px 16px;
}
.dede_pages ul li{
	float:left;
	font-family:Tahoma;
	line-height:17px;
	margin-right:6px;
	border:1px solid #E9E9E9;
}
.dede_pages ul li a{
	float:left;
	padding:2px 4px 2px;
	color:#555;
	display:block;
}
.dede_pages ul li a:hover{
	color:#690;
	text-decoration:none;
	padding:2px 4px 2px;
}
.dede_pages ul li.thisclass,
.dede_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{
	background-color:#F8F8F8;
	padding:2px 4px 2px;
	font-weight:bold;
}
.dede_pages .pageinfo{
	line-height:21px;
	padding:12px 10px 12px 16px;
	color:#999;
}
.dede_pages .pageinfo strong{
	color:#555;
	font-weight:normal;
	margin:0px 2px;
}


<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<script language="javascript" src="/ad.js"></script>